html {
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    margin: 0px auto;
    max-width: 300px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: skyblue;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem 0rem 1rem;
    height: 5vh;
}
.teddy, .rex, .bella{
    margin-top: 20px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    height: 72vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.teddy {
    background-image: url("./images/dog-teddy.jpg");
}
.rex {
     background-image: url("./images/dog-rex.jpg");
}
.bella {
    background-image: url("./images/dog-bella.jpg");
}
#badge, #nope-badge {
    display: none;
    width: 40%;
    margin: 0px 0px 100px 30px;
    transform: rotate(-30deg);
}

h1 {
    font-weight: 600;
    font-size: 32px;
    color: #F8F8F8;
    margin: 0px 0px 0px 5px;
}
h2 {
    margin-left: 5px;
    font-weight: 400;
    font-size: 24px;
    color: #B7B7B7;
}
footer {
    margin-bottom: 0px;
    display: flex;
    justify-content: space-around;
    
}
button{
    margin: 10px 0px 10px 0px;
    background: #FFFFFF;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 1px 20px #E9E9EA;
}
#btn-img {
    width: 25px;
    padding: 10px;
}
#cross:hover{
    background: #FFE7EF;
    box-shadow: 0px 10px 20px #EDD9DF;
}
.heart:hover{  
    background: #DBFFF4;
    box-shadow: 0px 10px 20px #CCF1E6;
}